:root{
	--body-bg-saidbar-color:#fff;
	--body-main-bg-color:#e4eff1;
	--body-white-color:#000;
}

.dark{
	--body-bg-saidbar-color:rgb(43, 46, 43);
	--body-main-bg-color:	rgb(33, 33, 27);
	--body-white-color:#fff;
}