.portfoliyoo{
	padding: 60px 30px;
	margin-left: 300px;
	h1{
		color:var(--body-white-color);
		margin-bottom: 5px;
	}
	.both_divv{
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		gap: 5px;
		.div_long{
			width: 70px;
			height: 4px;
			background: #F1690A;
		}
		.div_short{
			width: 40px;
			height: 4px;
			background: #F1690A;
		}
	}
	.project{
		.pro{
		color:var(--body-white-color);
			margin-bottom: 60px;
			font-size: 30px;
		}
		.project_block{
			// border: 1px solid red;
			display: grid;
			// flex-wrap: wrap;
			grid-template-columns:repeat(3, 1fr);
			gap: 20px;
			.first_project{
				max-width: 340px;
				height: 250px;
				background: yellow;
				border-radius: 10px;
				padding: 1rem 1rem;
				position:  relative;
				display: flex;
				align-items: center;
				align-items: flex-end;
				box-shadow: opx 7px 10px rgb(0,0,0,5);
				transition: 0.5s ease-in-out;
			}
			.first_project:hover{
				transform: translateY(20px);
			}
			 .first_project:before{
				content:"";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgb(184, 125, 24));
				z-index: 2;
				transition: 0.5s all;
				opacity: 0;
			 }
			 .first_project:hover:before{
				opacity: 1;
			 }
			 .first_project img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			 }
			 .first_project h3{
				position: relative;
				z-index: 3;
				color:#fff;
				opacity: 0;
				transform: translateY(30px);
				transition: 0.5s all;
				margin-bottom: 5px;
			}

			.first_project:hover h3{
				opacity: 1;
				transform: translateY(0px);
			}

			.first_project button{
				position: relative;
				z-index: 3;
				color:#fff;
				opacity: 0;
				transform: translateY(30px);
				transition: 0.5s all;
				border: 0;
				padding: 3px 10px;
				border-radius: 8px;

			}

			.first_project:hover button{
				opacity: 1;
				transform: translateY(0px);
			}

			img{
				width: 100%;
				height: 100%;
			}

		}
	}
}

// @media screen and (min-width:1025px) and (max-width:2000px) {
// 	.portfoliyoo{
// 		margin-left: 23%;
// 		.project{
// 			.project_block{
// 				display: grid;
// 				grid-template-columns:repeat(3, 1fr);
// 			}
// 		}
// 	}
// }


@media screen and (min-width:769px) and (max-width:1024px) {
	.portfoliyoo{
		margin-left: 30%;
		.project{
			.project_block{
				display: grid;
				grid-template-columns:repeat(2, 1fr);
			}
		}
	}
}


@media screen and (min-width:571px) and (max-width:768px) {
	.portfoliyoo{
		margin-left: 31%;
		.project{
			.project_block{
				display: grid;
				grid-template-columns:repeat(2, 1fr);
			}
		}
	}
}

@media screen  and (max-width:570px){
		.portfoliyoo{
			margin-left: 0;
			margin-top: 20px;
			.project{
				.project_block{
					display: grid;
					grid-template-columns:repeat(1, 1fr);
				}
			}
		}
}